<p id="notice"><%= notice %></p>

<div class="boxed">
<h1>Listing Blogposts</h1>

<% @blogposts.each do |blogpost| %>
  <header><strong><%= blogpost.title %></strong></header>
  <p><%= blogpost.contents %></p>
  <%= link_to 'Show', blogpost %> 
  <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
  <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <br>
<% end %>
</div>

<br>

<%= link_to 'New Blogpost', new_blogpost_path %>
